@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row gy-4 gy-md-0">
        <div class="col-md-8">
            <div class="row gy-4">
                @foreach (var item in Model.Blogs)
                {
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row gy-4 gy-md-0">
                                    <div class="col-md-4">
                                        <img src="@item.ImgUrl"
                                        alt="@item.ImgAlt" title="@item.Title" loading="lazy" class="img-fluid">
                                    </div>
                                    <div class="col-md-8">
                                        <h3>@item.Title</h3>
                                        <p>
                                            @item.MetaDescription
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex">
                                    <div class="col-6 d-flex justify-content-start">
                                        <a href="/BlogDetail/@item.Id" class="btn btn-primary" title="@item.Title">
                                            ادامه مطلب
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <span>تاریخ بروزرسانی: @item.PersianUpdateDate</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="col-md-4">
            <div class="row gy-4">
                <div class="col-12">
                    <h6>دسته بندی ها</h6>
                    <div class="list-group">
                        <a href="" title=""
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            A second item
                            <span class="badge bg-primary rounded-pill">14</span>
                        </a>
                        <a href="" title=""
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            A second item
                            <span class="badge bg-primary rounded-pill">14</span>
                        </a>
                        <a href="" title=""
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            A second item
                            <span class="badge bg-primary rounded-pill">14</span>
                        </a>
                        <a href="" title=""
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            A second item
                            <span class="badge bg-primary rounded-pill">14</span>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <h6>آخرین مقاله ها</h6>
                    <div class="list-group">
                        <a href="" title=""
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            A second item
                        </a>
                        <a href="" title=""
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            A second item
                        </a>
                        <a href="" title=""
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            A second item
                        </a>
                        <a href="" title=""
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            A second item
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <h6>مقالات پیشنهادی</h6>
                    <div class="list-group">
                        <a href="" title=""
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            A second item
                        </a>
                        <a href="" title=""
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            A second item
                        </a>
                        <a href="" title=""
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            A second item
                        </a>
                        <a href="" title=""
                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            A second item
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>