@page
@model Site.Pages.SearchModel
@{
     ViewData["Title"] = "جستجو | آرشیو آخبار";
}

<div class="container-fluid">
    <div class="row gy-4 gy-md-0">
        <div class="col-md-8">
            <div class="row gy-4">
                @foreach (var item in Model.Blogs)
                {
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row gy-4 gy-md-0">
                                    <div class="col-md-4">
                                        <img src="@item.ImgUrl" alt="@item.ImgAlt" title="@item.Title" loading="lazy"
                                        class="img-fluid">
                                    </div>
                                    <div class="col-md-8">
                                        <h3>@item.Title</h3>
                                        <p>
                                            @item.MetaDescription
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex">
                                    <div class="col-6 d-flex justify-content-start">
                                        <a href="/BlogDetail/@item.Id" class="btn btn-primary" title="@item.Title">
                                            ادامه مطلب
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <span>تاریخ بروزرسانی: @item.PersianUpdateDate</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>